body {
    margin: 0;
    padding: 0;
    background-color: #9E9E9E;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: gold;
}
.playbox {
    height:700px;
    width: 900px;
    margin:100px auto;
    background-color: rgb(97, 96, 96);
    color: honeydew;
}

.btn {
    width: 100%;
    margin: auto;
    background-color: indianred;
}

.players {
    width: 95%;
    height: 330px;
    background-color: indigo;
    margin: 20px auto;
    overflow: hidden;
}

.player-box {
    display: inline-block;
    padding: 15px 55px;
}

.message-box{
    width: 50%;
    margin: auto;
}